.product-container{
    display: flex;
}
.product-container img{
    margin-right: 10px;
}
.product-name{
    font-weight: 400;
    color: blue;
}
.product-info{
    display: flex;    
}
.product-info > div{
    width: 50%;
}
button{
    width: 150px;
    height: 30px;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}